:root {
    font-size: 62.5%;
    box-sizing: border-box;

    --primary-color: #000;
    --secondary-color: #6200ee;
    --tertiary-color: #fff;
}

body {
    margin: 0;
}

.background-ps{
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.background-sp {}

/* Estilização da Capa de Apresentação */

#capa {
    height: 1080px;
}

#capa #row-capa {
    /* display: inline-block; */
    position: absolute;
    top: 200px;


    background-color: aqua;
    
}

